POSTGRES_HOST=changeme
POSTGRES_DB=changeme
POSTGRES_PORT=changeme
POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_PASSWORD_ENCODED=changeme

AIRFLOW_FERNET_KEY=changeme
AIRFLOW_JWT_SECRET=changeme
AIRFLOW_API_SECRET_KEY=changeme

AIRFLOW_DB_USER=changeme
AIRFLOW_DB_PASSWORD=changeme
AIRFLOW_DB_NAME=changeme
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=changeme

AIRFLOW_AWS_CONN_LOGIN=changeme
AIRFLOW_AWS_CONN_PASSWORD=changeme
MINISTACK_ENDPOINT=changeme
MINISTACK_ENDPOINT_ENCODED=changeme
AIRFLOW_CONN_AWS_DEFAULT=changeme

AIRFLOW_CONN_POSTGRES_DEFAULT=changeme

SLACK_WEBHOOK_URL=changeme